#toggle_sidebar{
    display: none;
}
#toggle_sidebar:checked~.sidebar{
    display: none;
}
.main button{
    cursor: pointer;
    
}
.hinhanh {
    width: 30%;
    display: grid;
    grid-template-columns: repeat(3, 8rem);
    object-fit: cover;
}

img :hover{
    border: 2px solid red;
    cursor: pointer;
}
img {
    border: 2px solid white;
}
body{
    font-size: 16px;
}
#wraper{
    max-width: 960px;
    margin: 0px auto;
}
.tabs{
    border-bottom:1px solid#ddd ;
}
.nav-tabs{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0;
    border-bottom: 3px solid #ddd;
}
.nav-tabs li{
    margin-right: 10px;
}
.nav-tabs li a{
    display: block;
    padding: 6px 10px;
    text-decoration: none;
}
.nav-tabs li a ::after{
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: -3px;
    background: transparent;
}
.nav-tabs li.active a ::after, .nav-tabs li.active:hover a::after{
    background: #e74c3c;
}
/*style tab content*/
.tab-content{
    padding: 20px 0px;
}
